<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
          <pre>f.valid = {{f.valid|json}}
f.invalid = {{f.invalid|json}}
f.touched = {{f.touched|json}}
f.untouched = {{f.untouched|json}}
f.dirty = {{f.dirty|json}}
f.pristine = {{f.pristine|json}}
f.enabled = {{f.enabled|json}}
f.disabled = {{f.disabled|json}}
f.errors = {{f.errors|json}}
f.value = {{f.value|json}}</pre>
          <form role="form" #f="ngForm" (ngSubmit)="doLogin(f)">
            <fieldset>
              <div class="form-group" [class.has-error]="mEmail.invalid && f.submitted">
                <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus [(ngModel)]="login.email" required #mEmail="ngModel">
                <div class="help-block" *ngIf="mEmail.invalid && f.submitted">請輸入 Email 地址</div>
              </div>
              <div class="form-group" [class.has-error]="mPassword.invalid && f.submitted">
                <input class="form-control" placeholder="Password" name="password" type="password" [(ngModel)]="login.password" required minlength="3" #mPassword="ngModel">
                <div class="help-block" *ngIf="mPassword.invalid && f.submitted">請輸入 Password 密碼欄位</div>
              </div>
              <div class="checkbox">
                <label>
                  <input name="remember" type="checkbox" value="Remember Me" [checked]="rememberMe"
                    (click)="changeRememberMe($event.target)">Remember Me
                </label>
              </div>
              <!-- Change this to a button or input when using this as a form -->
              <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
            </fieldset>
          </form>
          <pre>{{login|json}}</pre>
          <pre>mPassword.valid = {{mPassword.valid|json}}
mPassword.invalid = {{mPassword.invalid|json}}
mPassword.touched = {{mPassword.touched|json}}
mPassword.untouched = {{mPassword.untouched|json}}
mPassword.dirty = {{mPassword.dirty|json}}
mPassword.pristine = {{mPassword.pristine|json}}
mPassword.enabled = {{mPassword.enabled|json}}
mPassword.disabled = {{mPassword.disabled|json}}
mPassword.errors = {{mPassword.errors|json}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
